[Unit]
Description=Initialize Tailscale Connection
After=appliance-bootstrap.service tailscaled.service network-online.target time-sync.target
Wants=network-online.target time-sync.target
Requires=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/appliance/bin/tailscale-init.sh

[Install]
WantedBy=multi-user.target
